body {
  margin: 0;
  --bs-body-font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 14px;
  @media (max-width: 1000px) {
    font-size: 12px;
  }
}

.navbar {
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
  flex-direction: row | row-reverse
}

.title {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;

  @media (max-width: 800px) {
    font-size: 1.5rem;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileInfo {
  margin-top: 2rem;
}

.navbarList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
}

.card {
  width: 30%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);

  @media (max-width: 1000px) {
    width: 90%
  }
}

.cardDiv {
  margin-bottom: 1rem;
  width: 100%;

  /* @media (max-width: 800px) {
    width: 300px;
  } */
}

.cardBodyDiv {
  gap: 1rem;
  display: flex;
  justify-content: center !important;
  align-items: center;
  margin-bottom: 1rem;
}

.extra-small {
  font-size: 10px; /* Customize the font size as needed */
  padding: 4px 4px; /* Customize the padding as needed */
  /* Add any other custom styles you want */
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00cc66 transparent #00cc66 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.typeahead-form-group {
  position: relative;
}

.typeahead-list-group {
  position: absolute;
  width: 100%;
  top: 38px;
  left: 0;
}

.typeahead-list-group-item {
  padding: 0.3rem 1.3rem;
  background-color: #fff;
}

.typeahead-list-group-item:hover {
  cursor: pointer;
  background: #646464;
  color: #fff;
}

.typeahead-spinner-container {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.button-icon-color-change:hover .navbarIcon {
  fill: #ffffff
}

.badge-effects {
  transition: transform 0.3s;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 12px;
}

.badge-effects:hover {
  transform: scale(1.1);
}

.icon-effects {
  cursor: pointer;
  transition: transform 0.3s;
  color: white; /* Initial color of the icon */
}

.icon-effects:hover {
  transform: scale(1.5);
  color: red; /* Color when hovering */
}

.x-icon {
  cursor: pointer;
  transition: transform 0.3s;
  color: white; /* Initial color of the icon */
}

.x-icon:hover {
  transform: scale(1.5);
  color: red; /* Color when hovering */
}

.plus-icon {
  cursor: pointer;
  transition: transform 0.3s;
  color: white; /* Initial color of the icon */
}

.plus-icon:hover {
  transform: scale(1.5);
}