body {
  margin: 0;
  --bs-body-font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
}

.title {
  margin-left: 1rem;
  font-size: 2rem;

  @media (max-width: 800px) {
    font-size: 1.5rem;
  }
}

.profile {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileInfo {
  margin-top: 2rem;
}

.navbarList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}

.card {
  margin-bottom: 2rem;
  width: 40%;

  @media (max-width: 1000px) {
    width: 60%
  }

  @media (max-width: 800px) {
    width: 100%
  }
}

.cardDiv {
  display: flex;
  justify-content: center !important;
  align-items: center;
  margin-bottom: 1rem;
}

.cardBodyDiv {
  gap: 1rem;
  display: flex;
  justify-content: center !important;
  align-items: center;
  margin-bottom: 1rem;
}

.extra-small {
  font-size: 10px; /* Customize the font size as needed */
  padding: 4px 4px; /* Customize the padding as needed */
  /* Add any other custom styles you want */
}